#curvedTailArrow {
  position: left;
  margin-left: 20px;
  width: 0;
  height: 0;
  border-right: 10px solid red;
  border-top: 10px solid transparent;
  transform: ratate(10deg);
}
#curvedTailArrow:after {
  content: "";
  position: absolute;
  border: 0 solid transparent;
  border-top: 3px solid red;
  border-radius: 20px 0 0 0;
  top: -12px;
  left: -9px;
  height: 12px;
  width: 12px;
  transform: rotate(45deg);
}