#square {
  float: left;
  width: 100px;
  height: 100px;
  background: red;
}
#rectangle {
  float: left;
  margin-left: 20px;
  width: 200px;
  height: 100px;
  background: red;
}
#circle {
  float: left;
  margin-left: 20px;
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
}
#oval {
  float: left;
  margin-left: 20px;
  width: 200px;
  height: 100px;
  background: red;
  border-radius: 50%; /*100px / 50px*/
}

